asgiref==3.8.1
diff-match-patch==20241021
Django==5.2.1
django-import-export==4.3.7
et_xmlfile==2.0.0
gunicorn==23.0.0
openpyxl==3.1.5
packaging==25.0
sqlparse==0.5.3
tablib==3.8.0
typing_extensions==4.13.2
tzdata==2025.2
whitenoise
djangorestframework
django-cors-headers
PyJWT
